.header

.content.content_blue
  .max_width
    h5 Style Guideline
    h1 品牌視覺引導 40px 大標題
    h1.second_title English Style Guideline h1 title
    .title_hr
    h2 品牌視覺引導 30px 中標題
    h2.second_title English Style Guideline h2 title
    br
    h3 品牌視覺引導 20px 小標題
    h3.second_title English Style Guideline h3 title

    br
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #FFC857
      .color_block.block_yellow
    .color_chip
      .color_tag #A06CD5
      .color_block.block_blue
    .color_chip
      .color_tag #BDD9BF
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 BUTTON EXAMPLE
    .button.buttonA 按鈕範例
    .button.buttonB 按鈕範例
    .button.buttonC 按鈕範例
  
//-----------------------------

.content.content_grey
  .max_width
    h5 Style Guideline
    h1 品牌視覺引導 40px 大標題
    h1.second_title English Style Guideline h1 title
    .title_hr
    h2 品牌視覺引導 30px 中標題
    h2.second_title English Style Guideline h2 title
    br
    h3 品牌視覺引導 20px 小標題
    h3.second_title English Style Guideline h3 title

    br
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #FFC857
      .color_block.block_yellow
    .color_chip
      .color_tag #A06CD5
      .color_block.block_blue
    .color_chip
      .color_tag #BDD9BF
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 BUTTON EXAMPLE
    .button.buttonA 按鈕範例
    .button.buttonB 按鈕範例
    .button.buttonC 按鈕範例
  
//-----------------------------

.content.content_white
  .max_width
    h5 Style Guideline
    h1 品牌視覺引導 40px 大標題
    h1.second_title English Style Guideline h1 title
    .title_hr
    h2 品牌視覺引導 30px 中標題
    h2.second_title English Style Guideline h2 title
    br
    h3 品牌視覺引導 20px 小標題
    h3.second_title English Style Guideline h3 title

    br
    hr

    h5 VI COLORS
    .color_chip
      .color_tag #FFC857
      .color_block.block_yellow
    .color_chip
      .color_tag #A06CD5
      .color_block.block_blue
    .color_chip
      .color_tag #BDD9BF
      .color_block.block_white
    .color_chip
      .color_tag #333333
      .color_block.block_grey

    h5 BUTTON EXAMPLE
    .button.buttonA 按鈕範例
    .button.buttonB 按鈕範例
    .button.buttonC 按鈕範例